<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>예약 관리 페이지</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/static/css/admin/admin_common.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
    <link rel="stylesheet" href="/static/css/admin/reservation.css">
    <link rel="stylesheet" href="/static/css/admin/reset.css">
</head>
<body>
<div id="container">
    <header class="header-container">
        <h1 class="admin-logo"><a href="/templates/admin/admin_home.html"><i class="fa-solid fa-utensils"></i></a></h1>
        <h1 class="store">HotSix</h1>
        <ul class="menu-login">
            <li><a href="/templates/admin/admin_login.html">로그인</a></li>
        </ul>
    </header>

    <main class="main-container">
        <aside class="left-aside">
            <div class="aside-title">
                <h1 class="hotsix">HotSix</h1>
            </div>
            <nav class="main-menu">
                <h2 class="menu-menu">☆예약관리☆</h2>
                <ul class="sub-menu">
                    <a href="/templates/admin/reservation_management.html"><li>예약정보 조회</li></a>
                </ul>
                <h2 class="menu-menu">☆MENU☆</h2>
                <ul class="sub-menu">
                    <a href="/templates/admin/menu_management.html"><li>메뉴 관리</li></a>
                    <a href="/templates/admin/menu_registration.html"><li>메뉴 등록</li></a>
                </ul>
            </nav>
        </aside>

        <div class="content-container">
            <h1 class="content-title">☆예약정보 조회☆</h1>
            <div class="searchs">
                <input type="search" class="search-input">
                <button type="button" class="search-button">검색</button>
            </div>
            <div class="table-container">
                <table class="reservation-table">
                    <thead>
                        <tr>
                            <th>순번</th>
                            <th>이름</th>
                            <th>예약날짜</th>
                            <th>예약시간</th>
                            <th>폰번호</th>
                            <th>이메일</th>
                            <th>대인</th>
                            <th>소인</th>
                            <th>총 인원수</th>
                            <th>요청사항</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="page-controller">
                <a href="" class="disabled">이전</a>
                <ul class="page-numbers">
                    <a href=""><li>1</li></a>
                    <a href=""><li>2</li></a>
                    <a href=""><li>3</li></a>
                    <a href=""><li>4</li></a>
                    <a href=""><li>5</li></a>
                </ul>
                <a href="">다음</a>
            </div>
    </main>
</div>
<script src="/static/js/admin/reservation.js"></script>
</body>
</html>