@font-face {
    font-family: 'Nanum Pen Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap') format('Nanum Pen Script');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Nanum Pen Script';
    font-size: 30px;
}

body {
    background-image: url(/static/images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

button {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

button:not(:disabled):hover {
    background-color: #fafafa;
    color: #c88b8b;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 20px;

    width: 100%;
    height: 50px;
}

.admin-logo a {
    padding-left: 100px;
    font-size: 55px;
    font-weight: 1000;
    color: rgb(83, 83, 83);
}

.store {
    font-size: 55px;
    font-weight: 600;
    color: rgb(226, 128, 128);
}

ul li{
    list-style: none;
}

a {
    text-decoration: none;
    color:#333;
}

.menu-login li a {
    padding-right: 120px;
    font-size: 35px;
    font-weight: 600;
    color: rgb(73, 73, 73);
}
