/* .main-container {
    padding: 0%;
} */

.left-aside {
    padding-top: 100px;
    width: 150px;
    position: fixed;
}

.aside-title { 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
}

.hotsix {
    padding-bottom: 20px;

    font-size: 45px;

    letter-spacing: 5px;
    text-shadow: 1px 1px 1px red;
    color: #ba7373;
}

.main-menu {
    border: 1px solid rgb(172, 113, 123);

    background-color: #f8d4d4;
    color: white;
}

.menu-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffbcbc;

    border-top: 1px solid rgb(189, 100, 115);
    border-bottom: 1px solid rgb(189, 100, 115);

    height: 100px;
    font-size: 25px;
}

.sub-menu li {
    display: flex;
    justify-content: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    width: 150px;
    height: 40px;

    font-size: 30px;
    color: white;
}

.sub-menu a li:hover {
    background-color: #f98585;
}