.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
    padding-left: 500px;
    width: 1500px;
    height: 100%;

}

.page-title{
    padding: 5px 10px 5px 10px;
    background-color: rgb(254, 234, 238);
    margin-bottom: 20px;
}

.main-title {
    font-size: 30px;
}

.content-container {
    display: flex;
    
    flex-wrap: wrap;

    border-radius: 10px;
    padding: 30px;
    width: 100%;
    min-height: 830px;
    height: 100%;

    background-color: white;
}

.content-title {
    margin-bottom: 30px;
    font-size: 25px;
}

.content-flex {
    display: flex;
    width: 49%;
}

.info-container {
    display: flex;

    align-items: center;

    margin-bottom: 15px;
    margin-left: 30px;
    
    border: 1px solid #4e2f3a;
    border-radius: 15px;
    padding: 10px 10px 10px 0px;

    width: 700px;

}

.menu-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-container {
    display: flex;

    margin-left: 42%;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;

    overflow: hidden;
}

.menu-img {
    height: 100%;
}

.menu-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-left: 20px;
}

.menu-code {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px 0px 3px 0px;


    border-radius: 4px;
    width: 80px;

    background-color: #ffb6d1;
    color: white;
    font-size: 20px;
}

.menu-name {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 100px;

    font-size: 35px;
}

.info-text {
    font-size: 25px;
}

.info-text1{
    padding-left: 125px;
}

.info-text2{
    padding-left: 105px;
}


.info-text b {
    font-size: 25px;
}
