.content-container {
    padding-top: 102px;
    padding-left: 13%;

    width: 1800px;
    
}

.content-title {
    font-size: 35px;
}

.table-container {
    padding-top: 20px;
}

.reservation-table {
    background-color: white;
    /* border: 1px solid #202020; */
    width: 100%;
    height: 530px;
}

.reservation-table th {
    background-color: #ffeeee;
    border: 1px solid #3e2929
}

.reservation-table td {
    border: 1px solid #3e2929

}

.reservation-table th, .reservation-table td {
    height: 21px;
    text-align: center;
}

.page-controller {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 30px;
}

.page-numbers {
    display: flex;
}

.page-controller a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: #ff9696;
    color: white;

    margin: 0px 5px;
    border: 1px solid #3e2929;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    font-weight: 600;
    font-size: 20px;
}

.page-controller li {
    font-size: 20px;
}

.page-controller a:hover {
    background-color: #ff3535;
    color: white;
}

.page-controller .disabled {
    background-color: #ff9696;
    color: white;
    cursor: default;
}